<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<style>
    .erro {
        color: red;
        font-weight: bolder;
    }
</style>
<body>
    <h1>Tela de Login</h1>
    <form action="/login" method="POST">
        <label for="login">Usuário:</label>
        <input type="text" id="login" name="login" required><br><br>
        
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br><br>
        
        <input type="submit" value="Entrar">
    </form>
    {% if error %}
        <p class="erro">{{ error }}</p>
    {% endif %}
    <p>Não tem conta? <a href="/cadastro">Faça seu cadastro clicando aqui</a>.</p>
</body>
</html>